<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<!--全局参数-->
	<Properties>
		<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</Property>
	</Properties>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>

	<Appenders>
		<!-- 定义输出到控制台 -->
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<!--控制台只输出level及以上级别的信息-->
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>
</Configuration>
