  .item-enter {
    opacity: 0;
    transform: translateY(10px);
   }
  .item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transform: translateY(-60px);
    transition: all 500ms ease-in;
  }
  