.showcase {
  width: 100%;
  // padding: 30px 50px;
  overflow: hidden;
  position: relative;

  &__title {
    font-weight: 400;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    gap: 20px;
    @media screen and (max-width: 1600px) {
      grid-template-columns: repeat(8, 1fr);
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(4, 1fr);
    }
    // animation: slide 16s linear infinite;
    position: relative;
    &--img {
      border-radius: 4px;
      margin: 0;
      // max-height: 200px;
      width: 100px;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
